<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script>
        var stompClient = null;


        function connect() { // 생성된 소켓과 연결
            var socket = new SockJS('/teamhash-websocket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {

                console.log('Connected: ' + frame);
                console.log('project info : '+'[[${projectId}]]');
                stompClient.subscribe('/recive/chat', function(chat){ // 구독 기능을 통해 해당 주소에 메세지가 오면 showChat 함수 호출
                    showChat(JSON.parse(chat.body));
                })
            });
        }
        function disconnect() { // 연결 종료
            if (stompClient !== null) {
                stompClient.disconnect();
            }
            console.log("Disconnected");
        }


        function sendChat(){ // 메세지 전송 index.html의 text box에 입력된 값을 읽어온다.
            stompClient.send("/send/chat",{},JSON.stringify({'sender':$("#sender").val(), 'message': $("#chatMessage").val() }))
        }

        function showChat(chat) { // 수신한 메세지를 출력
                                // DB에 저장된 값을 출력해주는 Thymeleaf와 형태를 맞추기 위해 
                                // 적절한 배치 필요

            var sendDateTime = chat.sendDateTime.split("T"); // 시간과 분 출력 
            sendDateTime = sendDateTime[1].split(":");
            $("#chattings").append("<tr><td><span>"+chat.sender+
            "</span></td><td><span>"+chat.message+
            "</span></td><td><span>"+sendDateTime[0]+":"+sendDateTime[1]+
            "</span></td></tr>");
        }


        $(function () { // 함수 호출 연결
            $("form").on('submit', function (e) {
                e.preventDefault();
            });
            $( "#chatSend").click(function(){ sendChat();});
        });



    </script>

</head>
<body>
<script>
    //창을 열고 닫을 때 연결과 해제 
    window.onload = function (){
        connect();
    }

    window.BeforeUnloadEvent = function(){
        disconnect();
    }

</script>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="sender">What is your name?</label>
                    <input type="text" id="sender" class="form-control" placeholder="Your name here...">
                </div>
                <div class="form-group">
                    <label for="message">Input Message</label>
                    <input type="text" id="chatMessage" class="form-control" placeholder="message.." />
                </div>
                <button id="chatSend" class="btn btn-default" type="submit">Chat Send</button>

            
            </form>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Chattings</th>
                </tr>
                </thead>

                
                <tbody id="chattings">
                    <tr th:each="chat : ${chatList}">
                        <td>
                            <span th:text="${chat.sender}"></span>
                        </td>
                        <td>
                            <span th:text="${chat.message}"></span>
                        </td>
                        <td>
                            <span th:text="${#temporals.format(chat.sendDateTime, 'HH:mm')}"></span>
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>