


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments.html :: head"></head>
<body>

    <div th:if="${!isMember}">
        your not project member
    </div>

    <div th:if="${isMember}" >

        <form th:action="@{'/project/'+${projectId}+'/'+${title}+'/problem-share/' + ${problem.id}}" method="post">
            <input type="hidden" name="_method" value="put"/>
            <input type="hidden" name="id" th:value="${problem.id}"/>
        
            제목 : <input type="text" name="title" th:value="${problem.title}"> <br>
            작성자 : <input type="text" name="writer" th:value="${problem.writer}"> <br>
            <textarea name="content" th:text="${problem.content}"></textarea><br>
        
            <input type="submit" value="수정">
        </form>


    </div>
</body>
</html>
