
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments.html :: head"></head>
<body>

    <div th:if="${!isMember}">
        your not project member
    </div>

    <div th:if="${isMember}" >

        <h2 th:text="${problem.title}"></h2>
        <p th:inline="text">작성일 : [[${#temporals.format(problem.createdDate, 'yyyy-MM-dd HH:mm')}]]</p>

        <p th:text="${problem.content}"></p>

        <!-- 수정/삭제 -->
        <div>
            <a th:href="@{'edit/'+ ${problem.id}}">
                <button>수정</button>
            </a>

            <form id="delete-form" th:action="@{'/post/' + ${problem.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button id="delete-btn">삭제</button>
            </form>
        </div>



    </div>
</body>
</html>