<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments.html :: head">

</head>

<body>
    <nav th:replace="fragments.html :: main-nav"></nav>

    <nav th:replace="fragments.html :: project-nav(currentProject='project')"></nav>
  

    <!-- 멤버 표시 -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-8">

                <!-- no project projectMember -->
                <div th:if="${!isMember}">
                    your not project projectMember
                </div>

                <!-- project projectMember  -->
                <div th:if="${isMember}">

                    <li class="list-group-item text-white bg-info">프로젝트 멤버</li>
                    <ul class="list-group" th:each="member : ${members}">
                        <a id="member-list" href="#"
                           class="member-list list-group-item list-group-item-action">
                            <svg th:if="${#strings.isEmpty(member.account?.profileImage)}"
                                 data-jdenticon-value="user127"
                                 th:data-jdenticon-value="${member.account.nickname}"
                                 width="36" height="36" class="rounded border bg-light"></svg>
                            <img th:if="${!#strings.isEmpty(member.account?.profileImage)}"
                                 th:src="${member.account.profileImage}"
                                 width="36" height="36" class="rounded border"> <span th:text="${member.account.nickname}"></span>
                        </a>

                    </ul>


                </div>
            </div>
        </div>
    </div>
</body>

</html>