<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments.html :: head"></head>
<body>
    <nav th:replace="fragments.html :: main-nav"></nav>

    <!-- no project member -->
    <div th:if="${!isMember}">
        your not project member
    </div>

    <!-- project member  -->
    <div th:if="${isMember}" >
        you project member

    
        <form action="#" th:action="@{'/project/'+${projectId}+'/'+${title}+'/problem_share'}" method="get">
            
            <button type="submit" >issue</button>

        </form>
        
    </div>
</body>
</html>