@charset "utf-8";

body { background: linear-gradient(to right, #002762, #005693);}
header { overflow: hidden; background-color: #fff;}
header .left { float: left; height: 40px; padding: 20px 0 0 100px;}
header a { color:#000000;}
header h1 { float: left; padding: 0px 80px 60px 0;}
header h1 a { display: block; width: 250px; height: 100px; background: url("../images/logo2.png") no-repeat ; overflow: hidden; color:transparent;}
header nav a { display: block; position: relative; height: 50px; line-height: 70px; font-size: 25px; font-weight: bold; padding-right: 50px;}
header nav a:before { content: ""; position: absolute; left: 0; bottom: 13px; width: 0; height: 1px; background: #fff; transition: width 0.5s;}
header nav a:hover{ color: coral;}
header .close,
header .all,
header .left > div > div,
header h2 { display: none;}
header .left > div { float: left;}
header .left > div nav li { float: left; padding: 0 30px 0 0;}
header > ul { float: right; padding: 50px 70px 0 0;}
header > ul li { float: left; margin: -10px -1px 10px  0;}
header > ul li a { display: block; width: 96px; height: 38px; line-height: 38px; font-weight: 700; text-align: center; font-size: 14px; border:1.4px solid #000000; border-radius: 3px;}
header > ul li:first-child a{ border-radius:3px 3px 3px 3px;  }
header > ul li:nth-last-of-type(2) a { border-radius: 3px 3px 3px 3px;}
header > ul li.join { padding: 0 10px 0 50px;}
header > ul li.join a { background: rgba(62, 149, 211, 0.3);}