<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<style>
    .main-profile {
        margin: auto;
        min-height: 500px;
        color: #FFFFFF;
        background-color: #0f4c81;
        display: flex;
        align-items: center;
        text-align: center;


    }
</style>
<body>
    <nav th:replace="fragments.html :: main-nav"></nav>


    <div class="main-profile">
        <div class="container">
            <div class="row">
                <div class="col-6"><br><br><br><br><br><br>
                    <h1>협업 쉽게 해보세요</h1>
                    <p class="lead">Team#을 이용해 협업을 손쉽게 해보세요</p>

                </div>
                <div class="col">
                    <a><img src="/images/teamhash-back.png" width="430" height="430"></a>


                </div>
            </div>
        </div>
    </div>
    <section class="aboutus py-5" id="aboutus">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="http://themesbrand.com/globing/images/mockup2.png">
                </div>
                <div class="col-md-6">
                    <div class="pb-5"></div>
                    <h2>This is Improve Your Marketing business</h2>
                    <div class="py-2"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud .</p>
                    <div class="py-2"></div>
                    <button type="button" class="btn btn-primary">Get More Details</button>
    
                </div>
            </div>
        </div>
    </section>
    <section class="aboutus2 bg-light py-5" id="aboutus2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="pb-5 mt-5"></div>
                    <h2>This is Improve Your Marketing business</h2>
                    <div class="py-2"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud .</p>
                    <div class="py-2"></div>
                    <button type="button" class="btn btn-primary">Get More Details</button>
    
                </div>
                <div class="col-md-6">
                    <img src="http://themesbrand.com/globing/images/mockup1.png">
                </div>
            </div>
        </div>
    </section>
    <section class="aboutus py-5" id="aboutus">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="http://themesbrand.com/globing/images/mockup2.png">
                </div>
                <div class="col-md-6">
                    <div class="pb-5"></div>
                    <h2>This is Improve Your Marketing business</h2>
                    <div class="py-2"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud .</p>
                    <div class="py-2"></div>
                    <button type="button" class="btn btn-primary">Get More Details</button>
    
                </div>
            </div>
        </div>
    </section>



    <footer th:replace="fragments.html ::footer"></footer>

</body>
</html>